<%= render "shared/container" do %>
<div class="min-height">
  <h1>Trips</h1>
  <ul>
    <% @trips.each do |trip| %>
      <li><%= link_to trip.name, trip_path(trip) %></li>
    <% end %>
    <li>
      <%= link_to "Create trip", new_trip_path %>
    </li>
  </ul>
  </div>
<% end %>
