<section>
  <div class="row py-sm-4 mt-3">
    <div class="col-lg-9 col-md-8 mx-auto text-center">
      <h1 class="fw-light">Plan your next Adventure!</h1>
      <p class ="mb-5">“A road trip is a way for the whole family to spend time together, and annoy each other in interesting new places” – Tom Lichtenheld</p>
      <hr>
    </div>
  </div>
</section>

<section id="trips" class="mt-3">
  <div class="album py-2">
    <div class="container-sm">
      <div class="row row-cols-4 g-3 pb-4">
          <!-- Plus symbol -->
          <div class="col text-center">
            <%= link_to new_trip_path do %>
              <i class="fas fa-plus fa-7x color: purple plus hvr-grow"></i>
            <% end %>
          </div>
        <% @trips.each do |trip| %>
          <div class="col">
            <div class="card shadow-sm mb-4">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
              <div class="card-body">
              <%= link_to trip.name, trip_path(trip), class: "card-text" %>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</section>

</section>
<section id="trips" class="mt-3">
  <div class="album py-2">
    <div class="container-sm">
<!-- video carousel partial -->
<%= render "video_carousel" %>

</section>


<%= render 'shared/footer-medium' %>
