// Define variables for your color scheme

// For example:
$red: #EF4444;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pinky: #F1E4FF;
$purple: #8C30F5;
$dark-purple: #240F3E;
$light-pink: #FBF6FF;
