<!-- Footer -->
<footer class="footer text-center mt-auto fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a href="https://upintheair.io/">Up in the Air</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->