.trip-details {
  ul {
    list-style: none;
  }
}

.detail-container {
  width: 400px
}

.guide-container {
  width: 400px
}

.veto-container {
  width: 100px
}


.veto-off {
  visibility: visible;
  color: $light-gray;
  font-size: 2em;
  border: none;
  background-color: white;
}


.veto-on {
  visibility: visible;
  color: $primary;
  font-size: 2em;
  border: none;
  background-color: white;
}

.veto-hidden {
  visibility: hidden;
  color: $primary;
  font-size: 2em;
  border: none;
  background-color: white;
}

.grab {
  cursor: grab;
}

.grab:active {
  cursor: grabbing;
}

.grab.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
