.forward-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.search-container {
  margin-bottom: 24px;

    h6 {
    margin-bottom: 6px;
  }
}

.search-top {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
}

.search-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.travel-options-container {
  padding-right: 32px;
}

.options-container {
  width: 120px;
}

.row-travel-options {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 16px;
}

.pref-option-container {
  width: 100%;
  margin-left: 32px;
  margin-right: 32px;
}

.pref-save-container {
  width: 50px;
}

.dates-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}


.budget-container {
  display: flex;
}

.budget-field {
  width: 120px;
  padding-left: 32px;
  // visibility: hidden;
}

.slider-container {
  height: 64px;
  width: 90%;
}

.pref-save-container {
  // width: 50px;
  // margin-left: 16px;
  padding-top: 150px;
}

.search-buttons {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.search-button {
  margin-right: 10px;
}

.city-search {
    width: 110%;
}


.noUi-pips-horizontal {
    padding: 0px 0 !important;
    height: 40px !important;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
  font: $body-font !important;
  color: $body-color !important;
}

.noUi-target {
  margin-top: 10px !important;
}



.card-destination {
  overflow: hidden;
  padding: 0px;
  position: relative;
}

.card-destination > img {
  // height: 200px;
  width: 100%;
  // object-fit: cover;
}

.card-destination h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 4px;
}

.card-destination p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-destination .card-destination-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;

  ul  {
    list-style: none;
    padding: 0px;
  }

}

#search-results-container {
  padding: 0px;
}

// TO USE AS BASIS FOR HEART ICON
.card-destination-infos .card-trip-heart {
  position: absolute;
  right: 34px;
  bottom: 20px;
  // width: 40px;
}

// critical for love and checkbox for AJAX data state

.love-off {
  visibility: visible;
  color: $light-gray;
  font-size: 2em;
  border: none;
  background-color: white;
}


.love-on {
  visibility: visible;
  color: $primary;
  font-size: 2em;
  border: none;
  background-color: white;
}

.love-hidden {
  visibility: hidden;
  color: $primary;
  font-size: 2em;
  border: none;
  background-color: white;
}

.submitted {
  position: absolute;
  right: 34px;
  bottom: 20px;
  color: $primary;
  font-size: 2em;
}
