/* This is all pretty much self explanatery - all for the footer & taken form the leWagon components library*/

.footer {
  bottom:0;
 
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $purple;
}
.footer-links {
  margin: auto;
  display: flex;
  align-items: center;
}
.footer-links a {
  
  color: $purple;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

