
/* Grow for plus icon*/

.plus {
  position: relative;
  top: 50px;
  color: #8C30F5;
}

.plus .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.plus-box {
  background-color: #F1E4FF;
  border-radius: 8px;
  border:1px solid rgba(0, 0, 0, 0.125);
}
