.trip-show-card {
  // height: 200px;
  display: flex;
  flex-direction: row;

  label {
    color: $gray-600;
    line-height: 0.5em;
  }

  img {
    border-radius: $border-radius 0 0 $border-radius;
    // width: 200px;
  }

  .trip-show-info {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  .trip-show-info-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}