<%= render "shared/container" do %>
<h1>Cities</h1>
      <% @cities.each do |city| %>
          <ul>
          <% if policy(city).show? %>
            <%= link_to city.name, city_path(city) %>
          <% else %>
            <%= city.name %>
          <% end %>
            </ul>
    <% end %>
<% end %>

