<%= render "shared/container" do %>
<h1>Cities</h1>
      <a class="btn btn-flat" href="#">Book now</a>
      <% @cities.each do |city| %>
          <ul>
      <div class="card-product">
    <div class="card-product-infos">
         <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <li>
          <% if policy(city).show? %>
            <%= link_to city.name, city_path(city) %>
          <% else %>
            <%= city.name %>
          <% end %>
        </li>
      <div class="heart-icon">
      <%= link_to icon("far", "heart"), potential_destinations_path, method: :new  %>
    </div>
  </div>
  </div>
  </ul>
    <% end %>
<% end %>

<!-- potential_destinations_path, method: :new -->
<!-- <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div> -->
